main article h1{
    position: relative;
     font-family: 'Inter';
   font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
 
 color: #ffff;
 }
 
 header{
   position: absolute;
 width: 100%;
 height: 167px;
 left: 0px;
 top: 0px;
 
 background: #81D3E0;
   
   background: #81D3E0;
 }
 .logo{
    height: 150px;
    
    padding: 10px 50px 0 50px;
   }
 nav{
 
   box-sizing: border-box;
 
  position: absolute;
  width: 200px;
  height: 82px;
  right: 16px;
 
  top: 45px;
 
  background: #B2D0D9;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
 }
 .menu-horizontal{
     list-style: none;
     display: flex;
     justify-content: space-around;
 }
 .menu-horizontal > li > a{
     display: block;
   width: 140px;
   height: 45px;
   left: 1400px;
   top: 64px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   left:10px; 
 
   
   
     color: #FCFDFB;
     text-decoration: none;
 }
 .menu-horizontal > li:hover{
     background-color: rgb(79, 179, 236);
 }
 .menu-vertical{ 
     position: absolute;
     display: none;
     list-style: none; 
     width: 100px;
     background-color: rgba(11, 50, 73, 0.5);
 }
 .menu-horizontal li:hover .menu-vertical{
     display: block;
 }
 
 
 .menu-vertical li a{
     display: block;
     color: white;
     text-decoration: none;
     padding: 10px 10px 10px 10px;
     
 }
 
 box{
     position: absolute;
 width: 232px;
 height: 82px;
 right: 2200x;
 top: 294px;
 
 background: #81D3E0;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 25px;
 
 
 font-family: 'Inter';
 font-style: italic;
 font-weight: 700;
 font-size: 24px;
 line-height: 37px;
 text-align: center;
 
 color: #300505;
 }
 
 h2{
 
   box-sizing: border-box;
 
   position: absolute;
   width: 100%;
   height: 52px;
   left: 0px;
   top: 145px;
   
   background: #B2D0D9;
   border: 5px solid #1291E7;
 
 }
 
 buscar {
   position: relative;
   padding: 5px;
 }
 
 .buscar input {
   width: 0;
   height: 40px;
   padding: 0 20px;
   font-size: 18px;
   color: #222;
   outline: none;
   border: 1px solid rgb(48, 45, 224);
   border-radius: 30px;
   transition: all 0.6s ease;
   
 }
 
 .btn {
   width: 55px;
   height: 55px;
   line-height: 55px;
   top: 0;
   right: 0;
   position: absolute;
   background: #440088;
   text-align: center;
   color: white;
   font-size: 18px;
   border-radius: 50%;
   cursor: pointer;
 }
 
 .buscar:hover input {
   width: 240px;
   
 }
 
 .buscar input:focus {
   width: 240px;
   
 }
 h3{
 
    position: absolute;
    width: 519px;
    height: 118px;
    left: 390px;
    top: 200px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    
    color: #000000;
 }
 section{
    margin: 100px;
    border-width: 40px;
    border-color: #81D3E0;
    border-style: solid;
   position: relative;
   width: 700px;
 height: 320px;
 left: 190px;
 top: 150px;
 
 background: #ffff;
 border-radius: 10%;
 }

 section{
    margin: 100px;
    border-width: 40px;
    border-color: #81D3E0;
    border-style: solid;
   position: relative;
   width: 700px;
 height: 700px;
 left: 190px;
 top: 150px;
 
 background: #ffff;
 border-radius: 10%;
 }

 p{
    margin: 10px;
    border-width: 0px;
    border-color: #FFFFFF;
    border-style: solid;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
text-align: justify;

color: #000000;
}

.p-2{
    margin-left: 100px;
    position: absolute;
width: 263px;
height: 90px;
left: 30x;
top: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 24px;
line-height: 29px;
text-align: justify;
letter-spacing: 0.11em;

color: #000000;
}

.p-3{
  margin-left: 100px;
  position: absolute;
width: 263px;
height: 90px;
left: 30x;
top: 380px;

font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 24px;
line-height: 29px;
text-align: justify;
letter-spacing: 0.11em;

color: #000000;
}
 .p-4{
  margin-left: 100px;
  position: absolute;
width: 263px;
height: 90px;
left: 30x;
top: 440px;

font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 24px;
line-height: 29px;
text-align: justify;
letter-spacing: 0.11em;

color: #000000;
 }
 .p-5{
  margin-left: 100px;
  position: absolute;
width: 263px;
height: 90px;
left: 30x;
top: 510px;

font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 24px;
line-height: 29px;
text-align: justify;
letter-spacing: 0.11em;

color: #000000;
 }
.p-6{
  margin-left: 100px;
  position: absolute;
width: 700px;
height: 90px;
left: -90px;
top: 560px;

font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 30px;
line-height: 29px;
text-align: justify;

 }
 button{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 44px;
text-align: center;

color: #000000;

  box-sizing: border-box;

  position: absolute;
  width: 236px;
  height: 47px;
  left: 240px;
  top: 620px;
  
  border: 3px solid #000000;
  border-radius: 17px;

}
 footer{
    position: absolute;
    width: 100%;
    height: 270px;
    left: 0px;
    top: 1300px;
    
    background: #81D3E0;
    }
 

 .h4{
    margin: 60px;
    margin-top: 120px;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 700px;
  font-size: 34px;
  line-height: 44px;
  
  left: 100px;
  
  
  color: #000000;
  }
  .h4-2{
    position: absolute;
    margin: 60px;
    margin-top: -105px;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 700px;
  font-size: 34px;
  line-height: 44px;
  
  left: 400px;
  
  }
  
  .h4-3{
    position: absolute;
    margin: 60px;
    margin-top: -105px;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 700px;
  font-size: 34px;
  line-height: 44px;
  
  left: 700px;
  
  }